
<div class="d-flex-centered w-100">
    <div class="popup-info">
        <span class="d-flex-centered">Más información <i class="material-icons">
            keyboard_arrow_up
        </i></span>
    </div>
</div>
<footer fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="footer-default">
    <ul class="list-none" fxFlex="50%">
        <li><a [routerLink]="['/sign-in']">Iniciar sesión</a></li>
        <li><a [routerLink]="['/sign-in']">Registrar</a></li>
        <li><a [routerLink]="['/products']">Productos</a></li>
        <li><a [routerLink]="['/send-mail']">Recuperar contrase&ntilde;a</a></li>
        <li class="d-block">Copyright © 2018 All Rights Reserved</li>
    </ul>
    <div fxFlex="50%" class="text-center">
        <button class="mat-raised-button mat-primary">
            <span class="d-flex align-items-center"><span class="material-icons">phone_android</span><span>!Descarga gratis la app</span></span>
        </button>
    </div>
</footer>

<!--<footer class="bg-primary footer">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-3 border-bottom-mute theme-container">        
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50"> 
            <h3 class="col-title">LINKS DE UTILIDAD</h3>
            <p class="mt-2"><a [routerLink]="['/sign-in']" class="link secondary-color">Iniciar sesi&oacute;n</a></p>
            <p class="mt-2"><a [routerLink]="['/sign-in']" class="link secondary-color">Registrar</a></p>
            <p class="mt-2"><a [routerLink]="['/products',{categoryId: null}]" class="link secondary-color">Productos</a></p>
            <p class="mt-2"><a [routerLink]="['/send-mail']" class="link secondary-color">Recuperar contrase&ntilde;a</a></p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" ngClass.xs="mt-2"> 
            <h3 class="col-title">INFORMACI&Oacute;N DE CONTACTO</h3>            
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 secondary-color">
                <mat-icon class="mr-1">location_on</mat-icon>
                <span>2903 Avenue Z, Brooklyn, NY</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon class="mr-1">call</mat-icon>
                <span>(212) 457-2308</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon class="mr-1">mail_outline</mat-icon>
                <span>contact@.com</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon class="mr-1">schedule</mat-icon>
                <span>lun - vier / 9:00AM - 8:00PM</span>
            </p>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
        <p ngClass.xs="mt-1">Copyright © 2018 All Rights Reserved</p>
        <p>Designed & Developed by <a mat-button href="http://b1tpr0f1t.net" target="_blank">b1tpr0f1t</a></p>
    </div>
</footer>-->