<div class="bg-white py">
	<div id="footer-card" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
		<div fxFlex="33.33333333333%" class="content-banner text-center">
			<i class="material-icons font-60 icon">
				credit_card
			</i>
			<h2 class="title">Paga con tarjeta o en efectivo</h2>
			<p class="mb">Con Mercado Pago, tienes meses sin intereses con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
			<a href="#" class="a">Cómo pagar con Mercado Pago</a>
		</div>
		<div fxFlex="33.33333333333%" class="content-banner text-center">
			<i class="material-icons font-60 icon">
				card_giftcard
			</i>
			<h2 class="title">Envío gratis desde $ 549</h2>
			<p class="mb">Con Mercado Pago, tienes meses sin intereses con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
			<a href="#" class="a">Conoce más sobre este beneficio</a>
		</div>
		<div fxFlex="33.33333333333%" class="content-banner text-center">
			<i class="material-icons font-60 icon">
				security
			</i>
			<h2 class="title">Seguridad, de principio a fin</h2>
			<p class="mb">Con Mercado Pago, tienes meses sin intereses con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
			<a href="#" class="a">Cómo te protegemos</a>
		</div>
	</div>
</div>