.bg-white { background-color: #FFF; }

.py {
	padding-bottom: 3rem;
	padding-top: 3rem;
}

.text-center {
	text-align: center;
}

.font-60 { font-size: 60px!important; }

#footer-card div:nth-child(1) {
	border-right: 1px solid #8fcdc1;
}

#footer-card div:nth-child(2) {
	border-right: 1px solid #8fcdc1;
}

.mb {
	padding-bottom: 0.8rem;
}

.icon {
	color: #1e1d36;
}

.title {
	font-weight: 400;
	margin-bottom: 10px;
}

.a {
	text-decoration: none; 
	color: #25879e;
}