<body class="login-body">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
           
                <img class="w-100 mt-12" src="https://goodpanda.com/assets/img/logo.svg" alt="GP" class="logo" />
                <h1>Ingrese correo</h1>
                    <div fxFlex="100"  >
                        
                        
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm"  >

                        <mat-form-field class="w-100 mt-12">
                            <input matInput placeholder="Ingrese correo" email required name="emailAddress" type="text" ngModel>
                          
                        </mat-form-field>
                       
                        <div class="text-center mt-12">
                            <button [disabled]="!f.valid" mat-raised-button color="primary" class="mat-elevation-z6" >
                                    Recuperar Contraseña <mat-icon>exit_to_app</mat-icon>
                            </button>
                        </div> 

                          
                
                          
                        </form>
                    </div>
        </div>
</body>

