<app-loading *ngIf="loadDetails"></app-loading>

<mat-card *ngIf="products?.length > 0" class="p-0">

    <div *ngIf="!loadDetails" class="mat-table cart-table">
        <div class="mat-header-row">
            <div fxFlex="0" class="mat-header-cell">Nombre</div>
            <div fxFlex="0" class="mat-header-cell">Precio</div>
            <div fxFlex="0" class="mat-header-cell">Cantidad</div>
            <div fxFlex="0" class="mat-header-cell">Total</div>
        </div>
        <div *ngFor="let product of products" class="mat-row">
            <div fxFlex="0" class="mat-cell"><a [routerLink]="['/publication/'+product.idProduct]"
                    class="product-name">{{product.name}}</a></div>
            <div fxFlex="0" class="mat-cell">$ {{product.pricePerUnit | number : '1.2-2'}}</div>
            <div fxFlex="0" class="mat-cell">{{product.quantity}}</div>
            <div fxFlex="0" class="mat-cell">$ {{product.amount | number : '1.2-2'}}</div>
        </div>
        <div class="mat-row">
            <div class="mat-cell"><a [routerLink]="['/']" mat-raised-button color="primary">Continuar comprando</a>
            </div>
            <div class="mat-cell"></div>
            <div class="mat-cell"></div>
        </div>
    </div>

</mat-card>

<mat-card fxLayout="column" fxLayoutAlign="center center" style="height: 300px;"
    *ngIf="!(products?.length > 0) && !loadDetails">
    <h1>No hay productos en el carrito</h1>
    <mat-chip-list>
        <mat-chip color="warn" selected="true">No tiene articulos en el carrito.</mat-chip>
    </mat-chip-list>
    <div>
        <a [routerLink]="['/']" mat-raised-button color="primary" class="mt-2">Continuar comprando</a>
    </div>
</mat-card>